{% extends 'base.html' %}


{% block link%} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_caja.css') }}"> 
{% endblock%}

{% block content %}

    <h5 class="m-3">{% block title %}Caja{% endblock %} Fecha: {{ fecha }}</h5> 

    <div id="collapse1">
        <table class="table table-responsive m-1">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Caja</th>
                    <th scope="col">Monto</th>
                </tr>
            </thead>
            <tbody>
                {% for caja in cajas %}
                    <tr>
                        <td class="p-1" scope="row">
                            <p class="fecha">{{ caja.fecha }}</p>
                        </td>
                        <td class="p-1">
                            {% if caja.tipo == "C" %} Compra {% endif %}
                            {% if caja.tipo == "V" %} Venta {% endif %}
                            {% if caja.tipo == "T" %} Transf. {% endif %}   
                        </td>
                        <td class="p-1">
                            {% if caja.caja == "B" %} Billetera {% endif %}
                            {% if caja.caja == "E" %} Efectivo {% endif %}
                        </td>
                        <td class="p-1">
                            $ {{ caja.monto }}
                        </td>
                        <td class="p-1">
                            <a href="{{url_for('cajas.ver_operacion', id = caja.id)}}" class="btn btn-info btn-sm">Ver</a>
                        </td>
                    </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
  
    <hr>
    <div class="text-center">
        <a href="{{url_for('auth.opciones')}}" class="btn btn-info btn-sm">Volver</a>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/fecha.js') }}"></script>
{% endblock %}